* {
    padding: 0px;
    border: 0px;
}

body {
    background-color: rgba(49, 49, 247, 0.313);
    font-family: Helvetica;
}

.container-header {
    background-color: rgb(132, 22, 22);
    color: white;
    padding: 15px;
    border-radius: 7px;
    align-items: center;
    text-align: center;
}

#form-dados-aluno {
    border: 1px solid;
    padding: 10px;
    background-color: rgb(61, 60, 60);
    color: white;
    border-radius: 7px;
    width: 20rem;
    box-shadow: 2px 2px 5px black;

}

.btn-form {
    padding: 5px;
    border-radius: 6px;
}